*.iml
.kotlin
.gradle
**/build/
xcuserdata
!src/**/build/
local.properties
.idea
.DS_Store
captures
.externalNativeBuild
.cxx
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
!*.xcworkspace/contents.xcworkspacedata
**/xcshareddata/WorkspaceSettings.xcsettings
node_modules/
/keys/
/apps/pinpoint/androidApp/src/debug/google-services.json
/apps/pinpoint/androidApp/src/release/google-services.json
/apps/pinpoint/iosApp/iosApp/Firebase/Prod/GoogleService-Info.plist
/apps/pinpoint/iosApp/iosApp/Firebase/Stg/GoogleService-Info.plist
/apps/pinpoint/iosApp/Configuration/DevSecrets.xcconfig
/apps/pinpoint/iosApp/Configuration/ProdSecrets.xcconfig
